<div class="container">
<h2> Create a new Post </h2>

<form class="new_post" action='/new_post' method="POST">
    <p>
      <label class="title_label" for="title">Title</label>
      <input type="text" name="title"/>
    </p>
    <p> 
      <label class="body_label" for="body">Body</label>
      <textarea class="body_text" name="body" rows="10" cols="30"></textarea>
    </p>
    <p>
      <input type="submit" value="Create your Post"/>
    </p> 
</form> 
<a href="/"><button>Return Home</button></a>

</div>
